body { 
    margin: 0;
    overflow: hidden;
}

/* main */

main { 
    display: flex;

}

/* header */

.tg-use { 
    color: #EAE112;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 55px;
}

header { 
    height: 92vh;
    background-color: #0E0E0E;
    display: grid;
    padding: 39px 37.5px;
}

.description-nav { 
    height: fit-content;
    display: grid;
    gap: 140px;
}

nav { 
    display: grid;
    gap: 30px;
}

.focus-navigate { 
    color: #EAE112;
}

nav a {
    width: fit-content;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 0;
}
nav a:hover { 
    color: #EAE112;
    transition: 280ms ease-in;
}


/* hero-page */

.hero-page { 
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
}

.description-content { 
    height: fit-content;
    display: grid;
    gap: 10px;
}

.page-header { 
    text-align: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #fff;
}

.name-content { 
    text-align: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    color: #FFFFFF;
}
